<div *ngIf="!isTrash" class="icons-comp-container">

    <!-- remind me icon -->
    <button matTooltip="Remind me" class="all-icons">
        <img src="../../../assets/add_alert_FILL0_wght400_GRAD0_opsz40.svg">

    </button>
    <!-- collaborator icon -->
    <button matTooltip="Collaborator" class="all-icons">
        <img src="../../../assets/person_add_FILL0_wght400_GRAD0_opsz40.svg">

    </button>
    <!-- background color icon -->
    <button matTooltip="Background options" [matMenuTriggerFor]="color" class="all-icons">
        <img src="../../../assets/palette_FILL0_wght400_GRAD0_opsz40.svg">
    </button>
    <mat-menu #color="matMenu">
        <div style="padding: 2px;">
            <div class="icon-color-container">
                <button class="color-circle" matTooltip="Default" (click)="onClickNoteColor('#FFFFFF')"><img
                        src="../../../assets/format_color_reset_FILL0_wght400_GRAD0_opsz48.svg"></button>
                <button class="color-circle" matTooltip="Red" style="background-color: #F28B82;" (click)="onClickNoteColor('#F28B82')"></button>
                <button class="color-circle" matTooltip="Orange" style="background-color: #FBBC04;" (click)="onClickNoteColor('#FBBC04')"></button>
            </div>
            <div class="icon-color-container">
                <button class="color-circle" matTooltip="Yellow" style="background-color: #FFF475;" (click)="onClickNoteColor('#FFF475')"></button>
                <button class="color-circle" matTooltip="Green" style="background-color: #CCFF90;" (click)="onClickNoteColor('#CCFF90')"></button>
                <button class="color-circle" matTooltip="Teal" style="background-color: #A7FFEB;" (click)="onClickNoteColor('#A7FFEB')"></button>
            </div>
            <div class="icon-color-container">
                <button class="color-circle" matTooltip="Blue" style="background-color: #CBF0F8;" (click)="onClickNoteColor('#CBF0F8')"></button>
                <button class="color-circle" matTooltip="Dark blue" style="background-color: #AECBFA;" (click)="onClickNoteColor('#AECBFA')"></button>
                <button class="color-circle" matTooltip="Purple" style="background-color: #D7AEFB;" (click)="onClickNoteColor('#D7AEFB')"></button>
            </div>
            <div class="icon-color-container">
                <button class="color-circle" matTooltip="Blue" style="background-color: #FDCFE8;" (click)="onClickNoteColor('#FDCFE8')"></button>
                <button class="color-circle" matTooltip="Dark blue" style="background-color: #E6C9A8;" (click)="onClickNoteColor('#E6C9A8')"></button>
                <button class="color-circle" matTooltip="Purple" style="background-color: #E8EAED;" (click)="onClickNoteColor('#E8EAED')"></button>
            </div>
        </div>
    </mat-menu>

    <!-- add image icons -->
    <button matTooltip="Add image" class="all-icons">
        <img src="../../../assets/image_FILL0_wght400_GRAD0_opsz40.svg">

    </button>
    <!-- Archive icon -->
    <button class="all-icons">
        <img *ngIf="!isArchived" matTooltip="Archive" src="../../../assets/archive_FILL0_wght400_GRAD0_opsz40.svg"
            (click)="OnClickArchive()">
        <img *ngIf="isArchived" matTooltip="Unarchive" src="../../../assets/unarchive_FILL0_wght400_GRAD0_opsz48.svg "
            (click)="OnClickUnArchive()">
    </button>
    <!-- More icon -->
    <button matTooltip="More" [matMenuTriggerFor]="more" class="all-icons">
        <img src="../../../assets/more_vert_FILL0_wght400_GRAD0_opsz40.svg">
    </button>

    <mat-menu class="more-icons" #more="matMenu">
        <button mat-menu-item (click)="OnClickTrash()">Delete note</button>
        <button mat-menu-item>Add label</button>
        <button mat-menu-item>Add drawing</button>
        <button mat-menu-item>Make a copy</button>
        <button mat-menu-item>Show tick boxes</button>
        <button mat-menu-item>Copy to Google Docs</button>
    </mat-menu>
</div>


<div *ngIf="isTrash" class="icons-delete-container">
    <button matTooltip="Delete Forever" (click)="onClickDeleteForever()" class="all-icons">
        <img class="side-icons" src="../../../assets/delete_forever_FILL0_wght400_GRAD0_opsz48.svg">
    </button>
    <button matTooltip="Restore" (click)="onClickRestoreNote()" class="all-icons">
        <img class="side-icons" src="../../../assets/restore_from_trash_FILL0_wght400_GRAD0_opsz48.svg">
    </button>
</div>