.forget-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.forget-card {
  width: 450px;
  height: 520px;
  padding: 20px 30px 20px 30px;
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 0px 2px grey;
}

.g-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.recovery-heading {
  font-size: 1.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  margin-bottom: 2.5em;
}

.recovery-email-input{
margin-top: 4em;
margin-bottom: 4em;
}
.forget-action {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0;
}

.mat-mdc-raised-button.mat-primary {
  --mdc-protected-button-container-color: #1a73e8;
  --mdc-protected-button-label-text-color: #fff;
}
