*{box-sizing: border-box;}


.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

//Nav bar background color
.mat-toolbar.mat-primary {
  background: #f9faff;
  color: #fff;
}

//Left part title
.left-part {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Heading
.app-name-title {
  color: #5f6368;
  margin-left: 0.5em;
  font-family: Roboto;
  font-weight: 400;
  font-size: 22px;
  
}


//Search Bar
.center-part {
  display: flex;
  align-items: center;
  position: absolute;
  left: 22%;
  flex-direction: row;
}
.mat-search-icon {
  color: #5f6368;
  background-color: #e9eaea;
  border-radius: 5px 0px 0px 5px;
  height: 45px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
}

.search-nav-field {
  width: 590px;
  height: 45px;
  border: none;
  background-color: #e9eaea;
  outline: none;
  border-radius: 0px 5px 5px 0px;
}

.search-nav-field:focus {
  outline: none;
  border: none;
}

input[type="text"]::placeholder {
  padding-left: 0.5em;
  font-size: 16px;
}

//Right Part CSS
.right-part {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 15vw
}

//Icons

.icon-border {
  color: #5f6368;
  transition: transform 0.3s ease;
}

.icon-border:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.profile-contain{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 33%;
}
.icons-contain{
  display: flex;
  justify-content: space-around;
  width: 8em;
}

.gb_k_gb {
  border-radius: 1.5em;
  width: 30px;
  height: 30px;
}


//navbar-main

.navbar-main {
  display: flex;
  justify-content: space-between;
}




//Responsiveness of navigation Bar
@media screen and (min-width: 600px) and (max-width:1100px){
  .center-part{
    width: 100px;
  }
}

@media screen and (max-width:975px) {
  .app-name-title{
    display:none;
  }
}

@media screen and (min-width:0px) and  (max-width:600px) {
  .center-part{
    display: none;
  }
  .app-name-title{
    display: block;
  }
}

@media screen and (min-width:0px) and  (max-width:400px) {
  .icons-contain{
  display: none;
  }
}

//to remove extra space right side
.mat-drawer-content {
  position: relative;
  z-index: 1;
  /* display: ; */
  height: 100%;
   overflow:hidden;
}


// Side Navbar CSS

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

.nav-menu:hover{
  background-color: #F1F3F4;
  border-radius: 0 2em 2em 0 ;

}

.selected{
  background-color: #FEEFC3;
  pointer-events: none;
  border-radius: 0 3em 3em 0;
}


.nav-icon{
  width: 25px;
  height: 25px;
  margin-right: 1.4em;
}
.nav-text{
  font-size: 16px;
  margin-bottom: 1.3em;
}

.example-sidenav-container{
  min-height: 90vh;
}