<mat-card>
    <mat-toolbar class="navbar-main" color="primary">
        <div class="left-part">
            <button class="icon-border" mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
            <img src="https://www.gstatic.com/images/branding/product/1x/keep_2020q4_48dp.png" alt="">
            <div class="app-name-title">Fundoo</div>
        </div>


        <!-- Search Bar -->
        <div class="center-part">
            <mat-icon class="mat-search-icon">search</mat-icon>
            <input class="search-nav-field" placeholder="Search" type="text">
        </div>

        <!-- Icons -->
        <div class="right-part">
            <div class="icons-contain">
                <mat-icon class="icon-border">refresh</mat-icon>
                <mat-icon class="icon-border">settings</mat-icon>

                <mat-icon class="icon-border">view_agenda</mat-icon>
            </div>
            <div class="profile-contain">
                <mat-icon class="icon-border">apps</mat-icon>
                <img class="gb_k_gb"
                    src="https://lh3.googleusercontent.com/a/AAcHTtdaed00nAqNDAvOiRnYDL_MNizKPWlNgFJJbMc7QA=s360-c-no">
            </div>
        </div>

    </mat-toolbar>
</mat-card>



<mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 10">
    <!---------------->
    <!-- Side navbar -->
    <!---------------->
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
        fixedTopGap="56">
        <mat-nav-list  >
            <!-- Notes -->
            <mat-list-item routerLink="."><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24">
                    <path
                        d="M9 21c0 .55.45 1 1 1h4c.55 0 1-.45 1-1v-1H9v1zm3-19C8.14 2 5 5.14 5 9c0 2.38 1.19 4.47 3 5.74V17c0 .55.45 1 1 1h6c.55 0 1-.45 1-1v-2.26c1.81-1.27 3-3.36 3-5.74 0-3.86-3.14-7-7-7zm2.85 11.1l-.85.6V16h-4v-2.3l-.85-.6A4.997 4.997 0 0 1 7 9c0-2.76 2.24-5 5-5s5 2.24 5 5c0 1.63-.8 3.16-2.15 4.1z">
                    </path>
                </svg> Notes</mat-list-item>
                <!-- Archive  -->
                <mat-list-item routerLink="." ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24">
                    <path
                        d="M9 21c0 .55.45 1 1 1h4c.55 0 1-.45 1-1v-1H9v1zm3-19C8.14 2 5 5.14 5 9c0 2.38 1.19 4.47 3 5.74V17c0 .55.45 1 1 1h6c.55 0 1-.45 1-1v-2.26c1.81-1.27 3-3.36 3-5.74 0-3.86-3.14-7-7-7zm2.85 11.1l-.85.6V16h-4v-2.3l-.85-.6A4.997 4.997 0 0 1 7 9c0-2.76 2.24-5 5-5s5 2.24 5 5c0 1.63-.8 3.16-2.15 4.1z">
                    </path>
                </svg> Archive</mat-list-item>
                <!-- Bin -->
                <!-- <a mat-list-item routerLink="bin" ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24">
                    <path
                        d="M9 21c0 .55.45 1 1 1h4c.55 0 1-.45 1-1v-1H9v1zm3-19C8.14 2 5 5.14 5 9c0 2.38 1.19 4.47 3 5.74V17c0 .55.45 1 1 1h6c.55 0 1-.45 1-1v-2.26c1.81-1.27 3-3.36 3-5.74 0-3.86-3.14-7-7-7zm2.85 11.1l-.85.6V16h-4v-2.3l-.85-.6A4.997 4.997 0 0 1 7 9c0-2.76 2.24-5 5-5s5 2.24 5 5c0 1.63-.8 3.16-2.15 4.1z">
                    </path>
                </svg> Bin</a> -->
        </mat-nav-list>
    </mat-sidenav>

    <!------------------>
    <!-- Main-content -->
    <!------------------>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>