
<div class="note3container" style=" padding: 2em;">
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="30px grid" style="margin: 0px;" >

        <div *ngFor="let num of [1,2,3,4,5,6,7,]" fxFlex.gt-xs="50%" fxFlex.gt-sm="33%" fxFlex.gt-md="25%">
            <mat-card style="padding: 1.2em;">
                <h3>Title Here</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro quod praesentium ipsum explicabo id eveniet perferendis tempore quas vel saepe perspiciatis non ea dicta repellat.</p>
                <app-icons></app-icons>
            </mat-card>
        </div>

        
    </div>
    
</div>
