.reset-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.reset-card {
  width: 450px;
  height: 520px;
  padding: 20px 30px 20px 30px;
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 0px 2px grey;
}

.g-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.reset-heading{
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    margin: 0;
}

.use-8-char{
    margin: 1.5em 0 
}

.change-pass-action{
display: flex;
justify-content: flex-end;
margin:5px 0;
}

.mat-mdc-raised-button.mat-primary {
    --mdc-protected-button-container-color: #1a73e8;
    --mdc-protected-button-label-text-color: #fff;
}








